.card-container {
  display: flex;
  flex-direction: row;
}
.card {
  list-style: none;
  width: 44%;
  padding-bottom: 15px;
  margin: 1%;
  & p {
    padding-bottom: 15px;
    max-height: 100px;
    overflow: hidden;
  }
  & .card-img-top {
    min-height: 200px;
    background-color: #ccc;
  }
}
/*media queries */
@media screen and (min-width: 992px) {
  .card {
    width: 22%;
  }
}
